<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">My Simple Photo App</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto" *ngIf="authenticationService.userData | async">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/']">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/profile/me']">Profile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/albums']">Albums</a>
        </li>

      </ul>

    <span *ngIf="authenticationService.userData | async">Hello <strong>{{ (authenticationService.userData | async)?.email }}</strong></span>&nbsp;&nbsp;

    <div *ngIf="!(authenticationService.userData | async)">
        <input class="mr-sm-2" type="text" [(ngModel)]="email" placeholder="email">
        <input class="mr-sm-2" type="password" [(ngModel)]="password" placeholder="password">

        <button class="btn btn-outline-success my-2 my-sm-0" (click)="signUp()">Sign Up</button>&nbsp;&nbsp;

        <button class="btn btn-outline-success my-2 my-sm-0" (click)="signIn()">Login</button>
    </div>

    <button class="btn btn-outline-danger my-2 my-sm-0" (click)="signOut()" *ngIf="authenticationService.userData | async">Logout</button>

    </div>
  </nav>





<router-outlet></router-outlet>